<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.healthcom">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".HDoctors">

        </activity>
        <activity android:name=".HFacilities" >

        </activity>
        <activity android:name=".HospitalDetails" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RecyclerViewList" />
        <activity android:name=".Patient_Home">

        </activity>
        <activity android:name=".Hospital_Home" />
        <activity android:name=".Spalsh" />
        <activity
            android:name=".Registration_hospital"
            android:parentActivityName=".Login"
            tools:targetApi="jelly_bean" />
        <activity
            android:name=".Registration_patient"
            android:parentActivityName=".Login"
            tools:targetApi="jelly_bean" />
        <activity android:name=".Login" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>